extends ../layout

block content
  .page-header
    h3 Sign up
    hr
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name') First name
      .col-sm-7
        input.form-control(type='text', name='firstName', id='firstName', placeholder='First name', autofocus, required)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name') Last name
      .col-sm-7
        input.form-control(type='text', name='lastName', id='lastName', placeholder='Last name', autofocus, required)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='city') City
      .col-sm-7
        select#city.select.form-control.input-md(name='city')
          option(value=0) -- Select --
          option(value=1) Bucharest
          option(value=2) Cluj
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='role') Role
      .col-sm-7
        select#role.select.form-control.input-md(name='role')
          option(value=0) -- Select --
          option(value=1) Student representative
          option(value=2) Professor
          option(value=3) Secretary
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name') Phone no.
      .col-sm-7
        input.form-control(type='text', name='phoneNo', id='phoneNo', placeholder='Phone', autofocus, required)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='grade') Grade
      .col-sm-7
        select#grade.select.form-control.input-md(name='grade')
          option(value=0) -- Select --
          option(value=1) Assistent
          option(value=2) Lector
          option(value=3) Conferentiar
          option(value=4) Profesor
    .form-group.row.justify-content-md-center
      .offset-sm-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Signup
