nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container
    a.navbar-brand(href='/')
      i.fa.fa-cube
      | License app
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.navbar-toggler-icon

    .collapse.navbar-collapse
      .dropdown-divider
      ul.nav.navbar-nav.mr-auto
        if user
          case user.role
            when '1'
              li.nav-item(class=(title === 'Timetable') ? 'active' : undefined)
                a.nav-link(href='/timetable?email=' + user.email) Timetable
            when '2'
              li.nav-item(class=(title === 'Timetable') ? 'active' : undefined)
                a.nav-link(href='/timetable?email=' + user.email) Timetable
            when '3'
              li.nav-item(class=(title === 'Series') ? 'active' : undefined)
                a.nav-link(href='/series') Series
              li.nav-item(class=(title === 'Groups') ? 'active' : undefined)
                a.nav-link(href='/studentgroups') Groups
              li.nav-item(class=(title === 'Subjects') ? 'active' : undefined)
                a.nav-link(href='/Subjects') Subjects
              li.nav-item(class=(title === 'Rooms') ? 'active' : undefined)
                a.nav-link(href='/rooms') Rooms
              li.nav-item(class=(title === 'Courses') ? 'active' : undefined)
                a.nav-link(href='/courses') Courses
              li.nav-item(class=(title === 'Seminars') ? 'active' : undefined)
                a.nav-link(href='/seminars') Seminars
              li.nav-item(class=(title === 'PrefHours') ? 'active' : undefined)
                a.nav-link(href='/prefhours') PrefHours
              li.nav-item(class=(title === 'Generate') ? 'active' : undefined)
                a.nav-link(href='/generate') Generate
              li.nav-item(class=(title === 'Bookings') ? 'active' : undefined)
                a.nav-link(href='/bookings') Bookings
              li.nav-item(class=(title === 'Bookings') ? 'active' : undefined)
                a.nav-link(href='/timetable') Timetable
      ul.nav.navbar-nav
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li.nav-item.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
              case user.role
                when '1'
                  span= (user.profile.firstName + ' ' + user.profile.lastName + '(Student)')
                when '2'
                  span= (user.profile.firstName + ' ' + user.profile.lastName + '(Professor)')
                when '3'
                  span= (user.profile.firstName + ' ' + user.profile.lastName + '(Secretary)')
                default 
                  span= (user.profile.firstName + ' ' + user.profile.lastName)
              i.caret
            ul.dropdown-menu
              li.nav-item
                a.nav-link(href='/account') My Account
              li.dropdown-divider
              li.nav-item
                a.nav-link(href='/logout') Logout
