extends layout

block content
  h2 Diploma app
  h4 Title 
  h6 Using Heroku cloud platform for generating university timetables.
  h4 Graduate
  h6 Mihai Stancu, Faculty of Mathematics and Computer Science
  h4 Description
  h6 This app contains several pages:
    ul
      li Sign up - registers new users
        ul
          li The new user will input name, city, role, phone number, email and password
          li Role can be: student, professor, secretary
          li Grade will be required for professors
      li Login - for existing users
        ul
          li Email and password are used for login
          li Once logged in, username appears in top right corner
          li Available pages are based on the role
          li Professors: profA@user.com / pass (A=1..10)
          li Students: stud1@user.com / pass 
          li Secretaries: sec1@user.com / pass 
      li Profile - edit profile for existing users
        ul
          li Any input from the sign up phase is editable here
      li Series - add student series
        ul
          li The name must contain the year of study
      li Groups - add groups of students
        ul
          li For each group, pick a name then the series and the student count
      li Subjects - add subjects
        ul
          li Name will be specified for each subject
      li Rooms - add rooms for courses / seminars / labs
        ul
          li For each room, there will be a name, location, capacity and features (projector, blackboard, etc)
      li Courses - add courses from the curriculum
        ul
          li Each course will have a series, subject, semester, professor, hours / wk and necessary features (projector, blackboard, etc)
      li Seminars - add seminars from the curriculum
        ul
          li Each course will have a group, subject, semester, professor, hours / wk and necessary features (projector, blackboard, etc)
      li Hours - add hours preferred by the professors
        ul
          li For each entry specify professor, weekday, start and end hour
      li Generate - generates bookings based on above input data
        ul
          li Can take several minutes based on number of inputs
          li Based on the input restrictions, the generation may fail (eg: too many constraints)!
          li A report containing the results of the generate command will be produced each time
      li Bookings - allows adding, editing or removing generated bookings
        ul
          li Can modify anything about a booking
          li Can add or remove bookings
      li Verify - detects conflicts appeared after manually editing bookings
        ul
          li For each booking, a report containing information about its result will be made
      li Timetable - displays the timetable for each group, for both semesters