@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

// Style for timetable starts here
table.calendar {
  margin-bottom: 0;
}

table.calendar > thead > tr > th {
  text-align: center;
}

table.calendar > tbody > tr > td {
  height: 20px;
}

table.calendar > tbody > tr > td > div {
  height: 100%;
}

table.calendar > tbody > tr > td.has-events {
  color: white;
  cursor: pointer;
  padding: 0;
  border-radius: 4px;
}

table.calendar > tbody > tr > td.has-events > div {
  background-color: #08C;
  border-left: 1px solid white;
}

table.calendar > tbody > tr > td.has-events > div:first-child {
  border-left: 0;
  margin-left: 1px;
}

table.calendar > tbody > tr > td.has-events > div.practice {
  opacity: 0.7;
}

p {
  line-height: 0.7;
}

table.calendar > tbody > tr > td.max-conflicts > div {
  background-color: red;
  color: white;
}

table.calendar > tbody > tr > td.has-events > div > span {
  display: block;
  text-align: center;
}
table.calendar > tbody > tr > td.has-events > div > span a {
  color: white;
}

table.calendar > tbody > tr > td.has-events > div > span.title {
  font-weight: bold;
}

table.table-borderless > thead > tr > th, table.table-borderless > tbody > tr > td {
  border: 0;
}

.table tbody tr.hover td, .table tbody tr.hover th {
  background-color: whiteSmoke;
}