extends ../layout

block content
  .page-header
    h2 Generate
        if result
            h5 No errors encountered during generation. Access link below for rezults:
            a.nav-link(href='/bookings') Bookings
        else
            h5 Errors encountered. Check input data.
        h5 Report:
          each entry in log
            p #{entry}