extends ../layout

block content
  .page-header
    h2 Generare
        if result
            h5 Fără erori în timpul generării. Accesați link-ul de mai jos pentru rezultat:
            a.nav-link(href='/bookings') Rezervări
        else
            h5 Au fost întâlnite erori. Verificați datele de intrare.
        h5 Raport:
          each entry in log
            p #{entry}