extends ../layout

block content
  .page-header
    h2 Serii
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .col-sm-12
      div#series
    script(type='text/javascript', src='/js/lib/jsgrid.min.js')
    script(src='/js/scripts/series.js') 