extends ../layout

block content
  .page-header
    h2 Verify
        if result
            h5 Bookings don't contain conflicts.
        else
            h5 Conflicts found. Check report.
        h5 Report:
        each entry in log
            p #{entry}