extends ../layout

block content
  .page-header
    h2 Verificare
        if result
            h5 Nu au fost găsite conflicte in rezervări.
        else
            h5 Au fost găsite conflicte. Verificați raportul.
        h5 Raport:
        each entry in log
            p #{entry}